/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  padding-top: 120px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #555;

  background:
    radial-gradient(circle at 20% 20%, rgba(180, 200, 255, 0.25), transparent 60%),
    radial-gradient(circle at 80% 20%, rgba(190, 160, 255, 0.25), transparent 60%),
    radial-gradient(circle at 20% 80%, rgba(255, 220, 200, 0.25), transparent 60%),
    radial-gradient(circle at 80% 80%, rgba(255, 182, 193, 0.25), transparent 60%);
}

/* ================= NAVBAR ================= */

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: fit-content;
  max-width: calc(100% - 24px);

  padding: 12px 18px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3px);

  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
}

.nav-links a {
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #444;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background: rgba(196, 171, 253, 0.15);
  color: #7c3aed;
}

.nav-links a.active {
  background: rgba(196, 171, 253, 0.15);
  color: #7c3aed;
}

/* ================= SECTIONS ================= */

.section {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
}

.section h2 {
  margin-bottom: 15px;
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 700;
}

/* ================= GLASS STYLE ================= */

.glass-box {
  padding: 30px;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

/* ================= HERO ================= */

.hero {
  text-align: center;
  margin-top: 40px;
  padding: 60px 0;
}

.hero-name {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 15px 0 10px 0;
  line-height: 1.2;
}

.gradient-text {
  background: linear-gradient(90deg, #9f7eec, #f083b9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.hero-tagline {
  font-size: 18px;
  color: #777;
  font-weight: 400;
}

.profile-pic {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

}

/* ================= ABOUT ================= */

.about-box {
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
}

/* ================= PROJECTS ================= */

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-card.glass-box {
  border-radius: 25px;
}

.project-image {
  width: 100%;
  height: 250px;
  object-fit: fill;
  border-radius: 15px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(4px);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-family: monospace;
  border: 1px solid rgba(222, 235, 247, 0.3);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

}

.project-card h3{
  color: #444;
  font-weight: 600;
}
.project-card p{
  color: #555;
}
/* ================= SKILLS ================= */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.skill-card {
  display: flex;
  align-items: center;
  gap: 18px;
}

.skill-card.glass-box {
  border-radius: 25px;
}

.skill-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;

  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 16px;
  border: 1px solid rgba(239, 238, 238, 0.7);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);

}


.skill-text h3 {
  margin: 0;
}

.skill-text p {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.7;
}

/* ================= CONTACT ================= */

.contact-form {
  max-width: 600px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  font-size: 14px;
}

button {
  padding: 12px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: rgba(196, 171, 253, 0.15);
  color: #7c3aed;
  border: #9f7eec;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 800px) {
  .projects-container,
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
